.loader {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px -40px;
    z-index: 1000;
    
}
.loaderOff{
    display: none;
}

.lightsaber {
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: #666;
    border-radius: 1px;
    bottom: 0;
}

.lightsaber.ls-left {
    left: 0;
}

.lightsaber.ls-right {
    right: 0;
}

.lightsaber:before {
    position: absolute;
    content: ' ';
    display: block;
    width: 2px;
    height: 25px;
    max-height: 1px;
    left: 1px;
    top: 1px;
    background-color: #fff;
    border-radius: 1px;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
}

.lightsaber:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 2px;
    height: 2px;
    left: 1px;
    top: 4px;
    background-color: #fff;
    border-radius: 50%;
}

.ls-particles {
    position: absolute;
    left: 42px;
    top: 10px;
    width: 1px;
    height: 5px;
    background-color: rgb(51, 51, 51, 0);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}


.lightsaber.ls-green:before {
    -webkit-animation: showlightgreen 2s ease-in-out infinite 1s;
    animation: showlightgreen 2s ease-in-out infinite 1s;
}

.lightsaber.ls-red:before {
    -webkit-animation: showlightred 2s ease-in-out infinite 1s;
    animation: showlightred 2s ease-in-out infinite 1s;
}


.lightsaber.ls-left {
    -webkit-animation: fightleft 2s ease-in-out infinite 1s;
    animation: fightleft 2s ease-in-out infinite 1s;
}

.lightsaber.ls-right {
    -webkit-animation: fightright 2s ease-in-out infinite 1s;
    animation: fightright 2s ease-in-out infinite 1s;
}

.ls-particles.ls-part-1 {
    -webkit-animation: particles1 2s ease-out infinite 1s;
    animation: particles1 2s ease-out infinite 1s;
}

.ls-particles.ls-part-2 {
    -webkit-animation: particles2 2s ease-out infinite 1s;
    animation: particles2 2s ease-out infinite 1s;
}

.ls-particles.ls-part-3 {
    -webkit-animation: particles3 2s ease-out infinite 1s;
    animation: particles3 2s ease-out infinite 1s;
}

.ls-particles.ls-part-4 {
    -webkit-animation: particles4 2s ease-out infinite 1s;
    animation: particles4 2s ease-out infinite 1s;
}

.ls-particles.ls-part-5 {
    -webkit-animation: particles5 2s ease-out infinite 1s;
    animation: particles5 2s ease-out infinite 1s;
}

@-webkit-keyframes showlightgreen {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }

    5% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    10% {
        max-height: 22px;
    }

    80% {
        max-height: 22px;
    }

    85% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
}

@-webkit-keyframes showlightred {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }

    20% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    25% {
        max-height: 22px;
    }

    80% {
        max-height: 22px;
    }

    85% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
}

@-webkit-keyframes fightleft {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        left: 0;
        bottom: 0;
    }

    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }

    40% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        left: 0;
        bottom: 2px;
    }

    45% {
        -webkit-transform: rotateZ(65deg);
        transform: rotateZ(65deg);
        left: 0;
    }

    65% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 30px;
        bottom: 10px;
    }

    95% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 0;
        bottom: 0;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        left: 0;
        bottom: 0;
    }
}

@-webkit-keyframes fightright {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        right: 0;
        bottom: 0;
    }

    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }

    45% {
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        right: 0;
        bottom: 2px;
    }

    50% {
        -webkit-transform: rotateZ(-65deg);
        transform: rotateZ(-65deg);
        right: 0;
    }

    68% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 27px;
        bottom: 13px;
    }

    95% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 0;
        bottom: 0;
    }

    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        right: 0;
        bottom: 0;
    }
}

@-webkit-keyframes particles1 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(-30px);
        transform: rotateZ(35deg) translateY(-30px);
    }
}

@-webkit-keyframes particles2 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    95% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
}

@-webkit-keyframes particles3 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
}

@-webkit-keyframes particles4 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
}

@-webkit-keyframes particles5 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
}

@keyframes showlightgreen {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }

    5% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    10% {
        max-height: 22px;
    }

    80% {
        max-height: 22px;
    }

    85% {
        box-shadow: 0 0 4px 2px #87c054;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
}

@keyframes showlightred {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }

    20% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    25% {
        max-height: 22px;
    }

    80% {
        max-height: 22px;
    }

    85% {
        box-shadow: 0 0 4px 2px #f06363;
    }

    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
}

@keyframes fightleft {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        left: 0;
        bottom: 0;
    }

    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }

    40% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        left: 0;
        bottom: 2px;
    }

    45% {
        -webkit-transform: rotateZ(65deg);
        transform: rotateZ(65deg);
        left: 0;
    }

    65% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 30px;
        bottom: 10px;
    }

    95% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 0;
        bottom: 0;
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        left: 0;
        bottom: 0;
    }
}

@keyframes fightright {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        right: 0;
        bottom: 0;
    }

    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }

    45% {
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        right: 0;
        bottom: 2px;
    }

    50% {
        -webkit-transform: rotateZ(-65deg);
        transform: rotateZ(-65deg);
        right: 0;
    }

    68% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 27px;
        bottom: 13px;
    }

    95% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 0;
        bottom: 0;
    }

    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        right: 0;
        bottom: 0;
    }
}

@keyframes particles1 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(35deg) translateY(-30px);
        transform: rotateZ(35deg) translateY(-30px);
    }
}

@keyframes particles2 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }

    95% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
}

@keyframes particles3 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
}

@keyframes particles4 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
}

@keyframes particles5 {
    0% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    63% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    64% {
        background-color: rgba(51, 51, 51, 1);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }

    97% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }

    100% {
        background-color: rgba(51, 51, 51, 0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
}




header{
    width: 100%;
    
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: none;
}

.containerBlock{
    display:block ;
}

.headerDiv{
    display: flex;
    width: 100%;
    height:40px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;

    
}


.account{
    width:100px;
    height: 30px;
    margin-right: 60px;
    cursor: pointer;
}


.signUp{
    width: 300px;
    height: 400px;
    margin: 100px auto;
    background-color: aqua;
    position: absolute;
    left:40%;
    display: none;
    border: dotted 3px black;
    opacity: 0.7;
    z-index: 100;
    

}

.toggle{
    display: block;
    
}


.input1{
    margin-top: 100px;
    margin-left: 60px; 
}

.input2{
    margin-top: 40px;
    margin-left: 60px;
    
}   

label{
    font-weight: bold;
}

.submit{
    margin: 100px ;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.search{
    display: flex;
    margin-left:10px;
    width: 20vw;
    justify-content: flex-end;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

.searchIcon{
    margin-left: -25px;
    cursor: pointer;
    


}

.searchBar{
    height:30px;
    width: 200px;
    transition: all 1s linear;
    
    
}

.toggle2{
 width: 25px;
    
}

.headerDiv2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ulOne{
    width:40vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    

}

li:hover{
    border-bottom: 3px solid yellow;
}

.flexTwoDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.burgerImg{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: none;
}

.react{
    
    width: 0;
    height: 400px;
    background-color:yellow;
    position: absolute;
    /* justify-content: flex-end; */
    right: 30px;
    transition: all 1s linear;
    overflow: hidden;
    z-index: 110;
    
}

.toggle3{   
    width: 200px;
}

.list{
    margin-top: 40px;
    text-align: center;
    color: black;
    font-weight: bold ;
}


.section1{
    width:100%;
   
    height: 700px;
    background-image: url("./images/WKND-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden ;
    animation-name: animate;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    z-index: -1;
}

.section1 div{
    background-color: white;
    margin-top: 600px;
    width: 50%;
    margin: 500px auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.section1 div p{
    
    /* overflow: hidden; */
}

.section1 div h2{
    font-size: 30px;
}

.section1 div p{
    font-size: small;
    font-weight: bold;
    overflow: auto;
    margin-top: 20px;
}
.section1 div a{
    background-color: yellow;
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    
}


.section2{
    width: 90%;
    margin: 50px auto;
    
}


.main {
    width: 90%  ;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap:wrap;
}

.divFirst{
    width: 30%;
    background-color: rgba(128, 128, 128, 0.13);
    
}
.divSecond{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.images{
    width:100% ;
    /* margin-left: 10px; */
    height: 500px;
    min-width: 400px;
    display: block;
    margin: 10px auto;
}

h4{
    font-size: 60px;
    font-weight: bold;
}

.parag{
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
}


.bt{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.anchor{
    margin-top: 40px;
    background-color: brown;
    color: aliceblue;
    display: inline-block;
    font-size: 25px;    
     
}

.signs{
    margin-top: 20px;
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin: auto;

}
.circle1, .circle2, .circle3{
    width:25px;
    height: 25px;
    border: solid 1px gray;
    border-radius: 50%;
    background-color: grey;
    opacity: 0.3;
    
}

.switchOn{
    opacity: 1;
}

.section3{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    margin: 70px auto;
    justify-content: center;
    grid-gap: 20px;
    margin-left: -100vw;
    transition: all 2s linear;

}

.grid-image{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    
}

h5{
    font-size: 35px;
    font-weight: bold;
}

.line{
    height: 5px;
    width: 95px;
    background-color: orange;
}

.advanture{
    width: 90%;
    margin: 200px auto;
    height: 50px;
    /* margin-left: 5%; */
}

.section4{
    overflow: hidden;
    margin-top: -150px;
    background-image: url("./images/dualipa.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px
    
    
    
    
}

.change{
    background-image:url("./images/surati1.jpg")
}
.change1{
    background-image: url("./images/surati2.jpg");
}
.change2{
    background-image: url("./images/surati3.jpg");
}


.climbing{
    overflow: auto;
    padding: 10px;
    background-color: white;
    width: 70%;
    height: 170px;
    margin: 500px auto
    
    
}

.climbing h6{
    font-size: 30px;
    font-weight: bold;
}

.climbing p{
    margin-top: 10px;
    
    margin-bottom: 30px;

}

.climbing a{
    width: 100px;
    height: 80px;
    margin-top: 15px;
    background-color: yellow;
    padding: 10px;

}

.section5{
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card1, .card2, .card3{
    height: 400px;
    margin: 0 auto;
}


h7{
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}


.section5 img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    animation-name: increase;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
    animation-direction: alternate;
    


}


.line1{
    width: 90%;
    margin: 40px auto;
    height: 4px;
    background-color: aqua;
}


.section6{
   width: 90%;
   margin: 25px auto;
   
}

.whole{
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-left: 5%;
    flex-wrap: wrap;
}

.section6 img{
    width: 25%;
    height: 300px;
    min-width: 242px;
}


.section6 .whole2{
    width: 60%;
    background-color: #f0e9e9;
    min-width: 400px;
    padding:20px    ;
    position: relative;
    
}

.whole2 h6{
    font-size: 45px;
    font-weight: bold;

}


.whole2 p{
    margin-top: 20px ;
    font-size: 20px;
}

.whole2 input{
    margin-top: 35px;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.151);
}

.whole2 button{
    padding: 16px;
    margin-left: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.info{
    position: absolute;
    top: 250px;
    color: green;
    display: none;

}
.showup{
    display: block;
}

footer{
    margin-top:100px ;
    width: 100%;
    background-color: black;
    padding: 40px;
}

.footerdiv{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footerdiv img{
    width: 40px;
}

.footerdiv p{
    font-size: 40px;
    color: white;
    font-weight: bold;
}


.ulThree{
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: white;
}


@media (max-width:710px){
    .section6 img{
        width:90%;
    }

   .section6 .whole2{
    width: 90%;
   }
    
}

@keyframes increase{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}

.where{
    margin-top: 50px ;
    margin-left: 15%;
    font-size: 40px;
}

@keyframes animate{
    from{opacity: 0.4;}
    to{opacity: 1;}
}



@media (max-width: 480px) {
    .signUp{
        left:100px;
    }

    .ulOne{
        display: none;
    }

    .burgerImg{
        display: block;
    }
    .main{
        flex-direction: column;
    }
    
}   

@media (max-width: 1000px){
.ulOne {
        display: none;
    }

    .burgerImg {
        display: block;
    }
    .react{
        right:13%
    }


}
@media (max-width: 1200px) {
    .main{
        flex-direction: column;
    }


    .divFirst{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .ulThree{
        display: none;
    }


}

